BASE_URL=https://demo-api-capital.backend-capital.com/api/v1
API_KEY=
EMAIL=
PASSWORD=
API_KEY_AGGRESSIV=
EMAIL_AGGRESSIV=
PASSWORD_AGGRESSIV=
API_KEY_GOLDGLOBE=
EMAIL_GOLDGLOBE=
PASSWORD_GOLDGLOBE=
API_KEY_KONSERVATIV=
EMAIL_KONSERVATIV=
PASSWORD_KONSERVATIV=
API_KEY_OPTIMIERT=
EMAIL_OPTIMIERT=
PASSWORD_OPTIMIERT=
API_KEY_TEST=
EMAIL_TEST=
PASSWORD_TEST=
API_KEY_TEST2=
EMAIL_TEST2=
PASSWORD_TEST2=
API_KEY_STEADY=
EMAIL_STEADY=
PASSWORD_STEADY=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
WEBHOOK_SECRET=
PORT=8080
